 
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIRDPEDIA</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../assets/silueta.png">
  </head>
  <body>
    <header>
      <h1>BIRDPEDIA</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../views/acerca.html">Acerca de nosotros</a></li>
          <li><a href="../views/consultas.html">Consultas</a></li>
          <li><a href="../views/multimedia.html">Multimedia</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section>
            <h3 class="displayblock">Sonido de un Avestruz</h3>
            <audio src="../assets/y2mate.com - SONIDO DE AVESTRUZ.mp3" controls class="display"></audio>
            <h3 class="displayblock">Un Albatros en su hábitat natural</h3>
            <iframe width="1204" height="711" src="https://www.youtube.com/embed/g5EIm1GKsmE" title="Los Albatros de las Islas del Frío" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="display"></iframe>
            <h3 class="displayblock">Imagen de un Condor</h3>
            <img src="../assets/condor.jpg" width="400px" height="400px" class="display">  
        </section>
      </main>
      <footer>
        <p>Derechos de autor © 2023 BIRDPEDIA</p>
        <ul>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </footer>
    </body>
    </html>